<%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= @task.errors.count.to_s + '件のエラーがあります' %></h2>
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control', maxlength: 100 %>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control', maxlength: 1000 , rows: 20 %>
    </div>

    <div class="form-group">
      <%= f.label :status_id, class: 'control-label' %>
      <%= f.collection_select(
                  :status_id, @statuses, :id, :name, {}, { class: 'form-control', selected: Settings.status[:untouched] }
          ) %>
    </div>

    <div class="form-group">
      <%= f.label :priority_id, class: 'control-label' %>
      <%= f.collection_select(
                  :priority_id, @priorities, :id, :name, { include_blank: true }, { class: 'form-control' }
          ) %>
    </div>

    <div class="form-group">
      <%= f.label :project_id, class: 'control-label' %>
      <%= f.collection_select(
                  :project_id, @projects, :id, :name, { include_blank: true }, { class: 'form-control' }
          ) %>
    </div>

    <div class="form-group">
      <%= f.label :assign_user_id, class: 'control-label' %>
      <%= f.collection_select(
                  :assign_user_id, @users, :id, :name, { include_blank: true }, { class: 'form-control' }
          ) %>
    </div>

    <%= f.submit class: 'btn btn-default'%>
<% end %>