<%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= @task.errors.count.to_s + '件のエラーがあります' %></h2>
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, maxlength: 100 %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, maxlength: 1000 , rows: 20, cols: 100%>
    </div>

    <div class="field">
      <%= f.label :status_id %>
      <%= f.collection_select(
                  :status_id, Status.all, :id, :name, selected: Settings.status[:untouched]
          ) %>
    </div>

    <div class="field">
      <%= f.label :priority_id %>
      <%= f.collection_select(
                  :priority_id, Priority.all, :id, :name, include_blank: true
          ) %>
    </div>

    <div class="field">
      <%= f.label :project_id %>
      <%= f.collection_select(
                  :project_id, Project.all, :id, :name, include_blank: true
          ) %>
    </div>

    <div class="field">
      <%= f.label :assign_user_id %>
      <%= f.collection_select(
                  :assign_user_id, User.all, :id, :name, :include_blank => true
          ) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>